@model IEnumerable<bellyful_proj_v._0._3.Models.VolunteerTrainingInfo>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryTraining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HSTraining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstAidRaining)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtherTrainingSkill)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volunteer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTraining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HSTraining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstAidRaining)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherTrainingSkill)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Volunteer.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VolunteerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VolunteerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VolunteerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
