@model IEnumerable<bellyful_proj_v._0._3.Models.ReferralReason>

@{
    ViewData["Title"] = "ReferralReason";
}

<p>
    <a asp-action="Create" class="btn btn-info">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReferralReasonId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReferralReasonId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReferralReasonId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />