<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="manifest" href="/manifest.json">

    @*<script src="https://kit.fontawesome.com/7c5e1ab886.js" crossorigin="anonymous"></script>*@
    @*<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
                integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
                crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
                integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
                crossorigin="anonymous"></script>*@
    @*introduce font aweome*@

    <title>@ViewData["Title"] - BellyfulWorkflow</title>

    <environment include="Development">
        @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
        asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
        crossorigin="anonymous"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />*@

        @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">*@

        <link rel="stylesheet" href="~/css/bootstrap.min.css" />

        <link rel="stylesheet" href="~/css/jquery.dataTables.min.css" />
        @*<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">*@
        @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
        <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet" />
        @*============本地化===========*@

    </environment>
    <environment exclude="Development">
        @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>*@
        <!-- Custom fonts for this template-->
        <link href="~/lib/bellyful/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">


        <!-- Custom styles for this template -->

        <link href="~/lib/datatables/dataTables.bootstrap4.css" rel="stylesheet">
        <link href="~/lib/bellyful/css/sb-admin.css" rel="stylesheet">

        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />


    </environment>
    <link rel="stylesheet" href="~/css/bellyfull.css" />
    <link rel="stylesheet" href="~/css/siderbar.css" /> @*style4*@

    <script>
        var counter = 1;
    </script>
</head>
<body>
    <div class="wrapper">


        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a asp-controller="Home" asp-action="Index">
                    <h3>Bellyful Workflow</h3>
                    <strong>BW</strong>
                </a>
            </div>

            <ul class="list-unstyled components">
                @if (@User.IsInRole("L1_Admin") || @User.IsInRole("L2_Manager"))
                {
                    <partial name="_L1L2NavPartial" />
                }
                else if (@User.IsInRole("L3_ChefManager"))
                {
                    <partial name="_L3NavPartial" />
                }
                else if (@User.IsInRole("L4_DeliverMan"))
                {
                    <partial name="_L4NavPartial" />
                }
                else if (@User.IsInRole("L5_GeneralStaff"))
                {
                    <partial name="_L5NavPartial" />
                }
                <li>
                    <a asp-controller="Home" asp-action="Contact">
                        <i class="fa fa-paper-plane"></i>Contact
                    </a>
                </li>
            </ul>
            <ul class="list-unstyled CTAs">

                @*
                    <li>
                        <a class="btn btn-danger" asp-controller="Batches" asp-action="Create">Reset Data</a>
                    </li>

                        <br />
                        <pre style="color: gray">Reset Steps:
                         1. 点击后将清空订单，库存，批次三类数据
                         2. 清空数据后，需要首先添加库存;
                         3. 添加订单会自动扣除库存(任意类别餐库存为0，则无法创建订单);
                        </pre>
                *@
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fa fa-align-left fa-fw"></i>
                        @*<span>Sidebar</span>*@
                    </button>
                    <h4 style="margin-bottom: 0px;   margin-left: 9px;">@ViewData["Title"]</h4>
                    <button class="text-white btn btn-info d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-user fa-fw"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </div>
            </nav>

            <partial name="_CookieConsentPartial" />
            <main role="main">
                @RenderBody()


                <div class="footer">
                    &copy; 2019 - Bellyful Invercargill - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
            </main>
        </div>

        <environment include="Development">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
            </script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
            </script>

            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>



            @*<!-- Bootstrap core JavaScript-->
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
                <!-- Core plugin JavaScript-->
                <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

                <!-- Page level plugin JavaScript-->
                <script src="~/lib/chart.js/Chart.min.js"></script>
                <script src="~/lib/datatables/jquery.dataTables.js"></script>
                <script src="~/lib/datatables/dataTables.bootstrap4.js"></script>

                <!-- Custom scripts for all pages-->
                <script src="~/lib/bellyful/js/sb-admin.min.js"></script>

                <!-- Demo scripts for this page-->
                <script src="~/lib/bellyful/js/demo/datatables-demo.js"></script>
                <script src="~/lib/bellyful/js/demo/chart-area-demo.js"></script>*@



        </environment>
        <environment exclude="Development">
            @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                        asp-fallback-test="window.jQuery"
                        crossorigin="anonymous"
                        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
                </script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                        crossorigin="anonymous"
                        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
                </script>*@



            <!-- Bootstrap core JavaScript-->
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>

            <!-- Page level plugin JavaScript-->
            <script src="~/lib/chart.js/Chart.min.js"></script>
            <script src="~/lib/datatables/jquery.dataTables.js"></script>
            <script src="~/lib/datatables/dataTables.bootstrap4.js"></script>

            <!-- Custom scripts for all pages-->
            <script src="~/lib/bellyful/js/sb-admin.min.js"></script>

            <!-- Demo scripts for this page-->
            <script src="~/lib/bellyful/js/demo/datatables-demo.js"></script>
            <script src="~/lib/bellyful/js/demo/chart-area-demo.js"></script>


        </environment>
        @RenderSection("Scripts", required: false)
        <script src="~/js/site.js" asp-append-version="true"></script>
    </div>
</body>
</html>
