@model bellyful_proj_v._0._3.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickupDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickupDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveredDatetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveredDatetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recipient.AddressNumStreet)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Content)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.Address)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
