@model IEnumerable<bellyful_proj_v._0._3.Models.MealInstock>


@{
    ViewData["Title"] = "Create";
}

<h4 style="text-align:center">Current Meal Instock</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.InstockAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MealType.ShelfLocation)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-label=@Html.DisplayNameFor(model => model.InstockAmount)>
                    @Html.DisplayFor(modelItem => item.InstockAmount)
                </td>

                <td data-label=@Html.DisplayNameFor(model => model.MealType)>
                    @Html.DisplayFor(modelItem => item.MealType.MealTypeName)
                </td>
                <td data-label=@Html.DisplayNameFor(model => model.MealType.ShelfLocation)>
                    @Html.DisplayFor(modelItem => item.MealType.ShelfLocation)
                </td>
            </tr>
           
        }
    </tbody>
</table>