@using System.Globalization
@model IEnumerable<bellyful_proj_v._0._3.ViewModels.OrderIndexViewModel>


@{
    ViewData["Title"] = "My Order";
    string mutipAddress = null;
    TimeSpan timeSpan = TimeSpan.Zero;

    string GetTime(DateTime? dateTime)
    {
        if (dateTime == null) { return "Null"; }

        if (DateTime.Now.Day != dateTime.Value.Day)
        {//不在同一天


            if (DateTime.Now.Day - dateTime.Value.Day == 1)
            {
                return string.Format("yday {0}", dateTime.Value.ToString("HH:mm tt", new CultureInfo("en-US")));
            }
            return string.Format("{0}", dateTime.Value.ToString("dd/MM HH:mm", new CultureInfo("en-US")));

        }
        else
        {//在同一天
            timeSpan = DateTime.Now - dateTime.Value;//20：00 == 27

            //如果相差大于1小时 显示具体时间
            if (timeSpan >= TimeSpan.FromHours(1)) { return string.Format("{0}", dateTime.Value.ToString("HH:mm tt", new CultureInfo("en-US"))); }
            //如果相差大于1分钟 显示分钟数
            if (timeSpan > TimeSpan.FromMinutes(1)) { return string.Format("{0:N0} mins ago", timeSpan.TotalMinutes); }
            //其他 显示1分钟
            return "1 min ago";
        }
    }
}

@if (Model.Any(x => x.StatusId == 5))
{
    <a class="btn btn-primy" asp-action="PickUpAllMeals" title="Pick up Meals for all your orders" asp-route-Name="@User.Identity.Name">Pick Up all</a>
}
<table id="bellyful-order" class="hover table" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>
            <th>Status</th>
            <th>
                @Html.DisplayNameFor(model => model.RIdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheRecipientAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickedUpTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveredTime)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            // 1 Canceled 2 Completed 3 Created  4 Pushed  5 Assigned 6 Delivering
            @if (order.StatusId == 2 || order.StatusId == 1)
            {
                <tr class="text-black-50">
                    <td>
                        @order.OrderId
                    </td>
                    @switch (order.StatusId)
                    {
                        case 2: // Completed
                            <td>
                                <span style="background-color: rgb(199, 255, 255); border-radius: 15px; padding: 7px">Completed</span>
                            </td>
                            break;
                        case 1: // Cancelled
                            <td>
                                <span style="background-color: rgb(133, 133, 133); border-radius: 15px; padding: 7px">Cancelled</span>
                            </td>
                            break;
                        default:
                            break;
                    }
                    <td>
                        @order.RIdName
                    </td>
                    <td>
                        <a href="https://Maps.google.com/?q= @order.TheRecipientAddress">@order.TheRecipientAddress</a>
                        @if (order.StatusId == 6)
                        {
                            mutipAddress += order.TheRecipientAddress + "/";
                        }
                    </td>

                    <td> @GetTime(order.PlacedTime)</td>
                    <td> @GetTime(order.AssignedTime)</td>
                    <td> @GetTime(order.PickedUpTime)</td>
                    <td> @GetTime(order.DeliveredTime)</td>
                    <td></td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @order.OrderId
                    </td>
                    @switch (order.StatusId)
                    {

                        case 5: //Assigned
                            <td>
                                <span style="background-color: rgb(241, 238, 103); border-radius: 15px; padding: 7px">Taken</span>
                            </td>
                            break;
                        case 6: // Delivering
                            <td>
                                <span style="background-color: rgb(241, 126, 97); border-radius: 15px; padding: 7px">Delivering</span>
                            </td>
                            break;
                        default:
                            break;
                    }

                    <td>
                        @order.RIdName
                    </td>
                    <td>
                        <a class="hoverLink" href="https://Maps.google.com/?q= @order.TheRecipientAddress">@order.TheRecipientAddress</a>
                        @if (order.StatusId == 6)
                        {
                            mutipAddress += order.TheRecipientAddress + "/";
                        }
                    </td>

                    <td> @GetTime(order.PlacedTime)</td>
                    <td> @GetTime(order.AssignedTime)</td>
                    <td> @GetTime(order.PickedUpTime)</td>
                    <td> @GetTime(order.DeliveredTime)</td>



                    @switch (order.StatusId)
                    {
                        case 5:
                            <td>
                                <a asp-action="PickupMeal" asp-route-OrderId="@order.OrderId"
                                   asp-route-Name="@User.Identity.Name">Pick Up</a>
                            </td>
                            break;
                        case 6:
                            <td>
                                <a asp-action="Finish" asp-route-OrderId="@order.OrderId"
                                   asp-route-Name="@User.Identity.Name">Finish</a>
                            </td>
                            break;
                        default:
                            <td></td>
                            break;

                    }
                </tr>
            }

        }
    </tbody>
</table>

@if (mutipAddress != null)
{
    <a style="position:relative;bottom:155px;left:60px" class="btn btn-primary" href="https://www.google.com/maps/dir\@mutipAddress" +> String Up on Map! </a>
}

@section Scripts{
    <script>
        $(document).ready(function () {

           var height= window.screen.height

            if (height > 1050) {
                $('#bellyful-order').DataTable({
                    paging: false,
                    scrollY: 680,
                    info: false,
                    //"ordering": false,
                    "order": [],
                    //stateSave: true
                });
            }else if (height > 930) {
                $('#bellyful-order').DataTable({
                    paging: false,
                    scrollY: 580,
                    info: false,
                    //"ordering": false,
                    "order": [],
                  ///  stateSave: true
                });
            }
            else if (height > 735) {
                $('#bellyful-order').DataTable({
                    paging: false,
                    scrollY: 490,
                    info: false,
                    //"ordering": false,
                    "order": [],
                  ///  stateSave: true
                });
            } else {

                $('#bellyful-order').DataTable({
                    paging: false,
                    scrollY: 450,
                    info: false,
                    //"ordering": false,
                    "order": [],
                 //   stateSave: true
                });
            }
        });
    </script>
}
