@using System.Globalization
@model IEnumerable<bellyful_proj_v._0._3.ViewModels.OrderIndexViewModel>


@{
    ViewData["Title"] = "My Order";
    string mutipAddress = null;
    TimeSpan timeSpan = TimeSpan.Zero;

    string GetTime(DateTime? dateTime)
    {
        if (dateTime == null) { return "Null"; }

        if (DateTime.Now.Day != dateTime.Value.Day)
        {//不在同一天


            if (DateTime.Now.Day - dateTime.Value.Day == 1)
            {
                return string.Format("yday {0}", dateTime.Value.ToString("HH:mm tt", new CultureInfo("en-US")));
            }
            return string.Format("{0}", dateTime.Value.ToString("dd/MM HH:mm", new CultureInfo("en-US")));

        }
        else
        {//在同一天
            timeSpan = DateTime.Now - dateTime.Value;//20：00 == 27

            //如果相差大于1小时 显示具体时间
            if (timeSpan >= TimeSpan.FromHours(1)) { return string.Format("{0}", dateTime.Value.ToString("HH:mm tt", new CultureInfo("en-US"))); }
            //如果相差大于1分钟 显示分钟数
            if (timeSpan > TimeSpan.FromMinutes(1)) { return string.Format("{0:N0} mins ago", timeSpan.TotalMinutes); }
            //其他 显示1分钟
            return "1 min ago";
        }
    }
}

<p>
    @if (Model.Any(x => x.StatusId == 5))
    {
        <a onclick="spinerLoading(this)" class="btn btn-info" asp-action="PickUpAllMeals" title="Pick up Meals for all your orders" asp-route-Name="@User.Identity.Name">Pick Up all</a>
    }
    else
    {
        <a class="btn btn-primy">   </a>
    }

</p>
<table id="bellyful-myorder" class="hover table display nowrap" style="width:100%">
    <thead>
        <tr>
            <th>No.</th>
            <th>Status</th>
            <th>
                @Html.DisplayNameFor(model => model.RIdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheRecipientAddress)
            </th>
            <th>Meal Info</th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickedUpTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveredTime)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            // 1 Canceled 2 Completed 3 Created  4 Pushed  5 Assigned 6 Delivering
            @if (order.StatusId == 2 || order.StatusId == 1)
            {
        <tr class="text-black-50">
            <td data-label="Order Id">
                @order.OrderId
            </td>
            <td data-label="Status">
                @switch (order.StatusId)
                {
                    case 2: // Completed

                        <span style="background-color:  rgb(211, 255, 253); color: grey; border-radius:15px; padding:1px 7px">Completed</span>

                        break;
                    case 1: // Cancelled

                        <span style="background-color:   rgb(222, 222, 222);   border-radius:15px; padding:1px 7px">Cancelled</span>


                        break;
                    default:
                        break;
                }
            </td>
            <td data-label=@Html.DisplayNameFor(model => model.RIdName)>
                @order.RIdName
            </td>
            <td data-label=@Html.DisplayNameFor(model => model.TheRecipientAddress)>
                <a href="https://Maps.google.com/?q= @order.TheRecipientAddress">@order.TheRecipientAddress</a>
                @if (order.StatusId == 6)
                {
                    mutipAddress += order.TheRecipientAddress + "/";
                }
            </td>
            <td data-label="Meal Info"> @order.MealInfo</td>
            <td data-label=@Html.DisplayNameFor(model => model.PlacedTime)> @GetTime(order.PlacedTime)</td>
            <td data-label=@Html.DisplayNameFor(model => model.AssignedTime)> @GetTime(order.AssignedTime)</td>
            <td data-label=@Html.DisplayNameFor(model => model.PickedUpTime)> @GetTime(order.PickedUpTime)</td>
            <td data-label=@Html.DisplayNameFor(model => model.DeliveredTime)> @GetTime(order.DeliveredTime)</td>
            <td data-label="Action"><div class="action-btns">-</div></td>
        </tr>
            }
            else
            {
    <tr>
        <td data-label="Order Id">
            @order.OrderId
        </td>


        @switch (order.StatusId)
        {

            case 5: //Assigned
                <td data-label="Status">
                    <span style="background-color: rgba(241,238,103,0.6); border-radius:15px; padding:1px 7px">Taken</span>
                </td>
                break;
            case 6: // Delivering
                <td data-label="Status">
                    <span style="  background-color: rgba(241,126,97,0.6); border-radius:15px; padding:1px 7px">Delivering</span>
                </td>
                break;
            default:
                break;
        }

        <td data-label=@Html.DisplayNameFor(model => model.RIdName)>
            @order.RIdName
        </td>
        <td data-label=@Html.DisplayNameFor(model => model.TheRecipientAddress)>
            <a class="hoverLink" href="https://Maps.google.com/?q= @order.TheRecipientAddress">@order.TheRecipientAddress</a>
            @if (order.StatusId == 6)
            {
                mutipAddress += order.TheRecipientAddress + "/";
            }
        </td>
        <td data-label="Meal Info"> @order.MealInfo</td>
        <td data-label=@Html.DisplayNameFor(model => model.PlacedTime)> @GetTime(order.PlacedTime)</td>
        <td data-label=@Html.DisplayNameFor(model => model.AssignedTime)> @GetTime(order.AssignedTime)</td>
        <td data-label=@Html.DisplayNameFor(model => model.PickedUpTime)> @GetTime(order.PickedUpTime)</td>
        <td data-label=@Html.DisplayNameFor(model => model.DeliveredTime)> @GetTime(order.DeliveredTime)</td>



        @switch (order.StatusId)
        {
            case 5:
                <td data-label="Action">
                    <a onclick="spinerLoading(this)" style="background-color:lightblue;" class="btn text-black-50" asp-action="PickupMeal" asp-route-OrderId="@order.OrderId"
                       asp-route-Name="@User.Identity.Name">Pick Up</a>
                </td>
                break;
            case 6:
                <td data-label="Action">
                    <a onclick="spinerLoading(this)" style="background-color:lightblue;" class="btn text-black-50" asp-action="Finish" asp-route-OrderId="@order.OrderId"
                       asp-route-Name="@User.Identity.Name">Finish</a>
                </td>
                break;
            default:
                <td data-label="Action"><div class="action-btns">-</div></td>
                break;

        }
    </tr>
            }

        }
    </tbody>
</table>

@if (mutipAddress != null && Model.All(x => x.StatusId != 5))
{
    <a  id="btnStringUp" class="btn btn-info" href="https://www.google.com/maps/dir\@mutipAddress" +> String Up! </a>
}

@section Scripts{
    <script>
        $(document).ready(function () {


            var height = window.screen.height

            if (height > 1050) {
                $('#bellyful-myorder').DataTable({
                    paging: false,
                    scrollY: 650,
                    info: false,
                    //"ordering": false,
                    "order": [],
                    //stateSave: true
                });
            } else if (height > 930) {
                $('#bellyful-myorder').DataTable({
                    paging: false,
                    scrollY: 580,
                    info: false,
                    //"ordering": false,
                    "order": [],
                    ///  stateSave: true
                });
            }
            else if (height > 735) {
                $('#bellyful-myorder').DataTable({
                    paging: false,
                    scrollY: 490,
                    info: false,
                    //"ordering": false,
                    "order": [],
                    ///  stateSave: true
                });
            } else {

                $('#bellyful-myorder').DataTable({
                    paging: false,
                    scrollY: 450,
                    info: false,
                    //"ordering": false,
                    "order": [],
                    //   stateSave: true
                });
            }
        });
    </script>
}
