@model IEnumerable<bellyful_proj_v._0._3.ViewModels.OrderIndexViewModel>


@{
    ViewData["Title"] = "My Orders";
    string mutipAddress = null;
}

<h2>@User.Identity.Name 's  Orders</h2>


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RIdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheRecipientAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickedUpTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveredTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {//1 Created  2 Pushed  3 Assigned 4 Delivering 5 Completed 6 Canceled

            <tr>
                <td>
                    @order.OrderId
                </td>
                @switch (order.StatusId)
                {
                    case 4:// Pushed ;
                        <td >
                            <span style="background-color: rgb(153, 204, 255); border-radius:15px; padding: 7px"> @order.Status</span>
                        </td>
                        break;
                    case 5://Assigned
                        <td>
                            <span style="background-color: rgb(241,238,103); border-radius:15px; padding: 7px"> @order.Status</span>
                        </td>
                        break;
                    case 6:// Delivering
                        <td >
                            <span style="  background-color: rgb(241,126,97); border-radius:15px; padding: 7px"> @order.Status</span>
                        </td>
                        break;
                    case 2:// Completed
                        <td>
                            <span style="background-color:  rgb(87, 255, 255); border-radius:15px; padding: 7px"> @order.Status</span>
                        </td>
                        break;
                    case 1:// Cancelled
                        <td>
                            <span style="background-color:   rgb(133, 133, 133); border-radius:15px; padding: 7px"> @order.Status</span>
                        </td>
                        break;
                    default:
                        <td>
                            @order.Status
                        </td>
                        break;
                }

                <td>
                    @order.RIdName
                </td>
                <td>
                    <a href="https://Maps.google.com/?q= @order.TheRecipientAddress">@order.TheRecipientAddress</a>
                    @{mutipAddress += "/"+order.TheRecipientAddress;}
                </td>
                <td>
                    @order.PlacedTime
                </td>
                <td>
                    @order.AssignedTime
                </td>
                <td>
                    @order.PickedUpTime
                </td>
                <td>
                    @order.DeliveredTime
                </td>
                @switch (order.StatusId)
                {
                    case 5:
                        <td>
                            <a asp-action="PickupMeal" asp-route-OrderId="@order.OrderId"
                               asp-route-Name="@User.Identity.Name">Pick Up</a>
                        </td>
                        break;
                    case 6:
                        <td>
                            <a asp-action="Finish" asp-route-OrderId="@order.OrderId"
                               asp-route-Name="@User.Identity.Name">Finish</a>
                        </td>
                        break;
                    default:
                        <td></td>
                        break;

                }



            </tr>

        }
    </tbody>
</table>
@if (Model.Any(x => x.StatusId == 5))
{
    <a asp-action="PickUpAllMeals" title="Pick up Meals for all your orders" asp-route-Name="@User.Identity.Name">Pick Up of all</a>
}

<br />
<a href="https://www.google.com/maps/dir @mutipAddress"> Generate the best route for driving! </a>

