@model IEnumerable<bellyful_proj_v._0._3.ViewModels.OrderIndexViewModel>


@{
    ViewData["Title"] = "New Order";
    TimeSpan timeSpan = TimeSpan.Zero;

    string GetTime(DateTime? dateTime)
    {
        if (dateTime == null) { return "Null"; }
        timeSpan = DateTime.Now - dateTime.Value;

        //如果相差大于1天 显示具体日期
        if (timeSpan > TimeSpan.FromDays(1)) { return string.Format("{0}", dateTime.Value.ToString("dd/MM/yyyy HH:mm")); }
        //如果相差大于1小时 显示具体时间
        if (timeSpan >= TimeSpan.FromHours(1)) { return string.Format("{0}", dateTime.Value.ToString("HH:mm tt")); }
        //如果相差大于1分钟 显示分钟数
        if (timeSpan > TimeSpan.FromMinutes(1)) { return string.Format("{0:N0} mins ago", timeSpan.TotalMinutes); }
        //其他 显示1分钟
        return "1 min ago";
    }
}


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>
            
            <th>
                @Html.DisplayNameFor(model => model.RIdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheRecipientAddress) 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheRecipientDogOnProperty)   
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.PlacedTime)
            </th>

            

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
        <tr>
            <td>
                @order.OrderId
            </td>
            <td>
                @order.RIdName
            </td>
            <td>
                
                <a href="https://Maps.google.com/?q= @order.TheRecipientAddress">@order.TheRecipientAddress</a>
                
            </td>
            <td>
                @order.TheRecipientDogOnProperty
            </td>
            <td> @GetTime(order.PlacedTime)</td>
          
            <td>
                <a class="fas fa-calendar-check " 
                   asp-action="TakeOrder" asp-route-OrderId="@order.OrderId" 
                   asp-route-Name="@User.Identity.Name"
                   onclick="return confirm('Are you Sure to take this ORDER?')"></a> 

            </td>
        </tr>
        }
    </tbody>
</table>
