@using System.Globalization
@model IEnumerable<bellyful_proj_v._0._3.ViewModels.OrderIndexViewModel>


@{
    ViewData["Title"] = "New Order";
    TimeSpan timeSpan = TimeSpan.Zero;

    string GetTime(DateTime? dateTime)
    {
        if (dateTime == null) { return "Null"; }

        if (DateTime.Now.Day != dateTime.Value.Day)
        {//不在同一天


            if (DateTime.Now.Day - dateTime.Value.Day == 1)
            {
                return string.Format("yday {0}", dateTime.Value.ToString("HH:mm tt", new CultureInfo("en-US")));
            }
            return string.Format("{0}", dateTime.Value.ToString("dd/MM HH:mm", new CultureInfo("en-US")));

        }
        else
        {//在同一天
            timeSpan = DateTime.Now - dateTime.Value;//20：00 == 27

            //如果相差大于1小时 显示具体时间
            if (timeSpan >= TimeSpan.FromHours(1)) { return string.Format("{0}", dateTime.Value.ToString("HH:mm tt", new CultureInfo("en-US"))); }
            //如果相差大于1分钟 显示分钟数
            if (timeSpan > TimeSpan.FromMinutes(1)) { return string.Format("{0:N0} mins ago", timeSpan.TotalMinutes); }
            //其他 显示1分钟
            return "1 min ago";
        }
    }
}


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>

            <th>
                @Html.DisplayNameFor(model => model.RIdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheRecipientAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheRecipientDogOnProperty)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PlacedTime)
            </th>



            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @order.OrderId
                </td>
                <td>
                    @order.RIdName
                </td>
                <td>

                    <a class="hoverLink" href="https://Maps.google.com/?q= @order.TheRecipientAddress">@order.TheRecipientAddress</a>

                </td>
                <td>
                    @order.TheRecipientDogOnProperty
                </td>
                <td> @GetTime(order.PlacedTime)</td>

                <td>
                    <a title="Take this one"  class="btn btn-info text-black-50"
                       asp-action="TakeOrder" asp-route-OrderId="@order.OrderId"
                       asp-route-Name="@User.Identity.Name"
                       onclick="return confirm('Are you Sure to take this ORDER?')"> <i style="color:white" class="fas fa-calendar-check "></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>
