@model IEnumerable<bellyful_proj_v._0._3.ViewModels.OrderIndexViewModel>


@{
    ViewData["Title"] = "Unassigned Orders";
}

<h1>Unassigned Orders</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@
<table class="table">
    <thead class="thead-dark">
        <tr>

            <th scope="col">No.</th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RIdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlacedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickedUpTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveredTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
        <tr>
            <td>
                <script>document.write(counter); counter++;</script>.
            </td>
            <td>
                @order.Status
            </td>
            <td>
                @order.RIdName
            </td>
            <td>
                @order.VIdName
            </td>
            <td>
                @order.PlacedTime
            </td>
            <td>
                @order.AssignedTime
            </td>
            <td>
                @order.PickedUpTime
            </td>
            <td>
                @order.DeliveredTime
            </td>
            <td>
                <a class="fas fa-calendar-check " 
                   asp-action="TakeOrder" asp-route-OrderId="@order.OrderId" 
                   asp-route-Name="@User.Identity.Name"
                   onclick="return confirm('Are you Sure to take this ORDER?')"></a> 

            </td>
        </tr>
        }
    </tbody>
</table>
