@using System.Globalization
@model IEnumerable<bellyful_proj_v._0._3.ViewModels.OrderIndexViewModel>


@{
    ViewData["Title"] = "New Order";
    string mutipAddress = null;
    TimeSpan timeSpan = TimeSpan.Zero;

    string GetTime(DateTime? dateTime)
    {
        if (dateTime == null) { return "Null"; }

        if (DateTime.Now.Day != dateTime.Value.Day)
        {//不在同一天


            if (DateTime.Now.Day - dateTime.Value.Day == 1)
            {
                return string.Format("yday {0}", dateTime.Value.ToString("HH:mm tt", new CultureInfo("en-US")));
            }
            return string.Format("{0}", dateTime.Value.ToString("dd/MM HH:mm", new CultureInfo("en-US")));

        }
        else
        {//在同一天
            timeSpan = DateTime.Now - dateTime.Value;//20：00 == 27

            //如果相差大于1小时 显示具体时间
            if (timeSpan >= TimeSpan.FromHours(1)) { return string.Format("{0}", dateTime.Value.ToString("HH:mm tt", new CultureInfo("en-US"))); }
            //如果相差大于1分钟 显示分钟数
            if (timeSpan > TimeSpan.FromMinutes(1)) { return string.Format("{0:N0} mins ago", timeSpan.TotalMinutes); }
            //其他 显示1分钟
            return "1 min ago";
        }
    }
}
    <p>
         <a class="btn btn-primy"></a>
    </p>
    <table id="bellyful-pushedorder" class="hover table display nowrap" style="width:100%">
        <thead>
            <tr>
                <th>No.</th>

                <th>
                    @Html.DisplayNameFor(model => model.RIdName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TheRecipientAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TheRecipientDogOnProperty)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PlacedTime)
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td data-label=No.>
                        @order.OrderId
                    </td>
                    <td data-label=@Html.DisplayNameFor(model => model.RIdName)>
                        @order.RIdName
                    </td>
                    <td data-label=@Html.DisplayNameFor(model => model.TheRecipientAddress)>

                        <a class="hoverLink" href="https://Maps.google.com/?q= @order.TheRecipientAddress">@order.TheRecipientAddress</a>
                        @{mutipAddress += order.TheRecipientAddress + "/";}
                    </td>
                    <td data-label=@Html.DisplayNameFor(model => model.TheRecipientDogOnProperty)>
                        @order.TheRecipientDogOnProperty
                    </td>
                    <td data-label=@Html.DisplayNameFor(model => model.PlacedTime)> @GetTime(order.PlacedTime)</td>

                    <td data-lable=Action>
                        <a title="Take this one" style="background-color:lightblue;" class="btn text-black-50" 
                           asp-action="TakeOrder" asp-route-OrderId="@order.OrderId"
                           asp-route-Name="@User.Identity.Name"
                           onclick="spinerLoading(this); return confirm('Are you sure to take Order:@order.OrderId?')"> Take</a>


                    </td>
                </tr>
            } 
        </tbody>
    </table>
    @if (mutipAddress != null)
    {
        <a onclick="spinerLoading(this)" style="position:relative;bottom:750px;left:650px" class="btn btn-primary" href="https://www.google.com/maps/dir\@mutipAddress" +> String Up on Map! </a>
    }

    @section Scripts{
        <script>
            $(document).ready(function () {


                var height = window.screen.height

                if (height > 1050) {
                    $('#bellyful-pushedorder').DataTable({
                        paging: false,
                        scrollY: 650,
                        info: false,
                        //"ordering": false,
                        "order": []
                        //stateSave: true
                    });
                } else if (height > 930) {
                    $('#bellyful-pushedorder').DataTable({
                        paging: false,
                        scrollY: 580,
                        info: false,
                        //"ordering": false,
                        "order": [],
                        ///  stateSave: true
                    });
                }
                else if (height > 735) {
                    $('#bellyful-pushedorder').DataTable({
                        paging: false,
                        scrollY: 490,
                        info: false,
                        //"ordering": false,
                        "order": [],
                        ///  stateSave: true
                    });
                } else {

                    $('#bellyful-pushedorder').DataTable({
                        paging: false,
                        scrollY: 450,
                        info: false,
                        //"ordering": false,
                        "order": [],
                        //   stateSave: true
                    });
                }
            });
        </script>
    }
