@model IEnumerable<bellyful_proj_v._0._3.Models.Recipient>

@{
    ViewData["Title"] = "Recipients";
}


<p>
    <a onclick="spinerLoading(this)"  asp-action="Create"  class="btn btn-info">New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>No.</th>
            <th>Full Name</th>
            <th>Address</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>DogOnProperty</th>
            <th>Adults Num</th>
            <th>Dietary</th>
            <th>Actions</th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td data-label= No.>
                @Html.DisplayFor(modelItem => item.RecipientId)
            </td>
            <td data-label= "Full Name">
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td data-label= "Address">
                @Html.DisplayFor(modelItem => item.AddressNumStreet)
            </td>
            <td data-label= "PhoneNumber">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td data-label= Email>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td data-label= DogOnProperty>
                @Html.DisplayFor(modelItem => item.DogOnProperty)
            </td>
            <td data-label="Adult Number">
                @Html.DisplayFor(modelItem => item.AdultsNum)
            </td>
            <td data-label= "Dietary">
                @Html.DisplayFor(modelItem => item.DietaryRequirement.DietaryName)
            </td>
            <td data-label=Actions>

                <a onclick="spinerLoading(this)" style="background-color:lightpink;" class="btn text-black-50" asp-action="Edit" asp-route-id="@item.RecipientId">Edit</a>
                <a onclick="spinerLoading(this)" style="background-color:lightblue;" class="btn text-black-50" asp-action="Details" asp-route-id="@item.RecipientId">Details</a>

                @*<a asp-action="Delete" asp-route-id="@item.RecipientId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
