@using Microsoft.AspNetCore.Identity
@using bellyful_proj_v._0._3.Models
@model IEnumerable<AppUserIndexViewMode>

@{ 
     ViewData["Title"] = "User Management";
}
<a asp-action="CreateAppUser" class="btn btn-primary">Add New AppUser</a>
<br>
<br>

<pre style="color: gray">Role Permissions:
 1. Admin and Manager : Access all the modules;
 2. Chef Manager : Access Only Batch,MealInstock, Order modules;
 3. Delivery Man : Can only see their own orders and MealInstock;
 4. General Staff: Can only see the MealInstock;
 5. Guest: Waiting to Assign a Role.

Role & VId:
  An UserAccount can set Volunteer and Role or just leave empty  !
</pre>
<br>
<br>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">No.</th>

            @*<th scope="col">   @Html.DisplayNameFor(model => model.Email)</th> 直接用实体类，无需用Html helper  *@
            <th scope="col">@Html.DisplayNameFor(model => model.Email)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.Role)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.VIdName)</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    <script>document.write(counter); counter++;</script>.
                </td>
                <td>@user.Email</td>
                <td>
                    @user.Role
                </td>@*role*@
                <td>@user.VIdName</td> @*VId*@
                <td>
                    <form asp-action="EditUser" title="Edit AppUser" asp-route-id="@user.Id" class="d-inline" method="get">
                        <button type="submit" class="fas fa-edit"></button>
                    </form>
                    <form asp-action="DeleteUser" title="Delete AppUser" asp-route-id="@user.Id" class="d-inline" method="post">
                        <button type="submit" class="fas fa-times " onclick="return confirm('Are you Sure to delete this User?')"></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

